<h1><%= @overwork.work_date.strftime('%Y/%m/%d')+"（#{yo(@overwork.work_date)}）" %></h1>

<%= render 'form' %>

<%= button_to 'Destroy', @overwork, method: :delete, data: { confirm: 'Are you sure?' } %>
