@import "bootstrap";
.sunday {
  background-color: #d99391;
}
.saturday {
  background-color: #87abca;
}

.text-margintop-50 {
  margin-top: -50px;
}

@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
